@import "./base/variables";
@import "./base/mixins";
* {
    font-family: 'Museo Sans', sans-serif;
}
.container {
    max-width: 950px;
    margin: 0 auto;
}
@import "./blocks/promo";
@import "./media/promo-media";
@import "./blocks/header";
@import "./media/header-media";
@import "./blocks/buttons";
@import "./media/btn-media";