@import "./libs/bootstrap-reboot.min";
@import "./libs/fonts";
@import "./libs/slick";
@import "./libs/animate";

@import "./base/variables";
@import "./base/mixins";
@import "./base/animations";
* {
    font-family: 'Museo Sans', sans-serif;
}
.container {
    position: relative;
    max-width: 950px;
    margin: 0 auto;
}

@import "./blocks/promo";
@import "./media/promo-media";
@import "./blocks/header";
@import "./media/header-media";
@import "./blocks/btn";
@import "./media/btn-media";
@import "./blocks/ttl";
@import "./media/ttl-media";
@import "./blocks/adventages";
@import "./media/adventages-media";
@import "./blocks/consultation";
@import "./media/consultation-media";
@import "./blocks/forms";
@import "./media/forms-media";
@import "./blocks/carousel";
@import "./media/carousel-media";
@import "./blocks/catalog";
@import "./media/catalog-media";
@import "./blocks/revews";
@import "./media/revews-media";
@import "./blocks/footer";
@import "./media/footer-media";
@import "./blocks/modal";
@import "./media/modal-media";
@import "./blocks/pageup";