.revews {
    margin-bottom: 20px;
    &__card {
        max-width: 882px;
        min-height: 264;
        display: flex;
        margin-top: 65px;
    }
    img {
        width: 170px;
        height: 170px;
        border-radius: 100%;
        border-color: #fff;
        margin-right: 62px;
    }
    &__text {
        max-width: 650px;
        margin-bottom: 50px;
    }
    &__name {
        font-size: 18px;
        font-weight: 700;
        color: $darkFont;
    }
    &__expirience {
        font-size: 13px;
        font-weight: 300;
        color: #646464;
    }
    &__descr {
        margin-top: 13px;
        font-size: 16px;
        font-weight: 300;
        color: $darkFont;
    }
}