.ttl {
    font-weight: 700;
    font-size: 30px;
    color: $darkFont;
    text-align: center;
    text-transform: uppercase;
    &_promo {
        font-size: 42px;
        font-weight: 700;
        color: $lightFont;
        line-height: 17px;
    }
    &_promo-sub {
        margin-top: 17px;
        font-size: 24px;
        font-weight: 500;
        color: $lightFont;
        text-transform: uppercase;
    }
    &_left {
        font-size: 36px;
        text-align: left;
        color: $lightFont;
    }
}