.adventages {
    padding: 70px 0 78px 0;
    background-color: #f6f6f6;
    color: $darkFont;
    text-align: center;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__card {
        width: 247px;
        margin-top: 65px;
    }
    &__img {
        width: 70px;
        height: 70px;
        margin: 0 auto;
        &_animated {
            animation: heartbeat 1.2s ease infinite;
            &:hover {
                animation-play-state: paused;
            }
        }
    }
    &__tesis {
        margin-top: 38px;
        font-size: 18px;
        font-weight: 700;
    }
    &__descr {
        margin-top: 27px;
        font-size: 14px;
        font-weight: 300;
    }
}