@media (max-width: 1200px) {
    .adventages {
        padding: 60px 0 57px 0;
        &_ttl {
            font-size: 25px;
        }
        &__card {
            margin-top: 55px;
        }
    }
}
@media (max-width: 991px) {
    .adventages {
        padding: 50px 30px 45px 30px;
        &_ttl {
            font-size: 23px;
        }
        &__card {
            margin-top: 42px;
            width: 220px;
        }
        &__tesis {
            margin-top: 28px;
            font-size: 16px;
        }
        &__descr {
            margin-top: 17px;
        }
    }
}
@media (max-width: 767px) {
    .adventages {
        &_ttl {
            font-size: 30px;
        }
        &_wrapper {
            flex-direction: column;
            margin-top: 25px;
        }
        &__card {
            width: 320px;
            margin: 0 auto;
            margin-top: 50px;
        }
        &__tesis {
            margin-top: 20px;
            font-size: 18px;
        }
        &__descr {
            font-size: 14px;
        }
    }
}
@media (max-width: 575px) {

}