@media (max-width: 1200px) {
    .button {
        font-size: 12px;
        width: 136px;
        height: 26px;
        &_main {
            margin-top: 57px;
            width: 270px;
            height: 42px;
            font-size: 15px;
        }
        &_submit {

        }
    }
}
@media (max-width: 991px) {
    .button {
        font-size: 11px;
        width: 124px;
        height: 22px;
        &_main {
            margin-top: 40px;
            width: 233px;
            height: 35px;
            font-size: 14px;
        }
        &_submit {
            
        }
    }
}
@media (max-width: 767px) {
    .button {
        font-size: 13px;
        width: 156px;
        height: 30px;
        &_main {
            margin-top: 80px;
            width: 270px;
            height: 42px;
            font-size: 15px;
        }
        &_submit {
            
        }
    }
}
@media (max-width: 575px) {
    .button {
        margin-top: 5px;
        font-size: 12px;
        width: 146px;
        height: 24px;
        margin: 0 auto;
        &_main {
            margin-top: 30px;
            width: 210px;
            height: 37px;
            font-size: 13px;
        }
        &_submit {
            
        }
    }
}