@media (max-width: 1200px) {
    .button {
        font-size: 12px;
        width: 136px;
        height: 26px;
        &_main {
            margin-top: 57px;
            width: 270px;
            height: 42px;
            font-size: 15px;
        }
    }
}
@media (max-width: 991px) {
    .button {
        font-size: 11px;
        width: 124px;
        height: 22px;
        &_main {
            margin-top: 40px;
            width: 233px;
            height: 35px;
            font-size: 14px;
        }
    }
}
@media (max-width: 767px) {

}
@media (max-width: 575px) {

}