@media (max-width: 1200px) {
    .consultation {
        min-height: 626px;
        padding: 80px 0 70px 70px;
        &__descr {
            margin-top: 70px;
            font-size: 19px;
        }
    }
}
@media (max-width: 991px) {
    .consultation {
        min-height: 614px;
        padding: 70px 0 60px 77px;
        &__descr {
            margin-top: 60px;
        }
    }
}
@media (max-width: 767px) {
    .consultation {
        min-height: 772px;
        padding: 100px 60px;
        &__descr {
            margin-top: 95px;
            text-align: center;
            font-size: 20px;
        }
    }
}
@media (max-width: 575px) {
    .consultation {
        min-height: 600px;
        padding: 85px 17px 65px 17px;
        &__descr {
            margin-top: 75px;
            font-size: 15px;
        }
    }
}