@media (max-width: 1200px) {
    .header {
        &__logo {
            width: 220px;
        }
        &__official {
            font-size: 11px;
            span {
                font-size: 16px;
            }
        }
        &__phone {
            font-size: 16px;
        }
    }
}
@media (max-width: 991px) {
    .header {
        padding: 0 30px;
        &__logo {
            width: 200px;
        }
        &__phone {
            font-size: 14px;
        }
    }
}
@media (max-width: 767px) {
    .header {
        flex-direction: column;
        justify-content: center;
        &__logo {
            margin-top: 5px;
            width: 250px;
        }
        .tab-hidden {
            display: none;
        }
        &__official {
            margin: 0 auto;
            margin-top: 140px;
            padding-right: 95px;
            font-size: 20px;
            text-align: right;
            span {
                font-size: 28px;
            }
        }
        &__phone {
            font-size: 18px;
        }
        .lg-hidden {
            display: block;
        }
    }
}
@media (max-width: 575px) {
    .header {
        padding: 0 20px;
        &_wrapper {
            flex-direction: column;
            align-items: center;
        }
        &__logo {
            width: 230px;
            
        }
        .tab-hidden {
            display: block;
        }
        &__official {
            margin-top: 30px;
            padding-right: 0;
            font-size: 13px;
            text-align: center;
            span {
                font-size: 20px;
            }
        }
        &__phone {
            margin-top: 40px;
            font-size: 17px;
        }
        .lg-hidden {
            display: none;
        }
    }
}