@media (max-width: 1200px) {
    .promo {
        &__wrapper {
            margin-top: 80px;
        }
        &__header {
            font-size: 40px;
        }
        &__subheader {
            margin-top: 14px;
            font-size: 22px;
        }
        &__icons {
            margin-top: 52px;
        }
        &__icon {
            font-size: 13px;
        }
        &__link {
            margin-top: 13px;
            font-size: 14px;
        }
    }
}
@media (max-width: 991px) {

}
@media (max-width: 767px) {

}
@media (max-width: 575px) {

}